/* line 17, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
* {
  box-sizing: border-box; }

/* line 22, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
html, body {
  margin: 0px; }

/* line 26, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
h1 {
  font-family: "Martel Sans", sans-serif; }

/* line 34, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
h2, h3, h4, h5, h6 {
  font-family: "Magra", sans-serif; }

/* line 38, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
body {
  margin-top: 12em;
  transition: margin-top 400ms; }

/* line 43, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
.flex {
  display: flex; }

/* line 47, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
header {
  background: #005DAA;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 1.4em 0px .4em;
  margin-bottom: 2.4em;
  z-index: 10; }
  /* line 58, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  header h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 4em;
    margin: 0px;
    height: 1.8em; }
  /* line 66, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  header #header-badge {
    width: 100px;
    height: 100px;
    border-radius: 50px 50px 50px 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transform: translate(0px, 50%);
    background: #005DAA; }
  /* line 77, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  header .flex {
    margin-left: 110px; }
    /* line 80, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
    header .flex .title-secondary {
      width: 0px;
      color: #FFFFFF;
      font-family: "Martel Sans", sans-serif;
      display: inline-block;
      overflow: hidden;
      font-size: 0;
      position: relative;
      top: -2em;
      opacity: 0;
      height: 1.4em;
      transition: width 400ms 400ms, opacity 0ms 400ms, top 800ms, 400ms; }
  /* line 98, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  header nav {
    flex-grow: 1;
    width: 0px; }

/* line 105, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
body.scroll-small-header header {
  position: fixed;
  top: -8em; }
  /* line 109, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  body.scroll-small-header header .return-to-top {
    opacity: 0.65;
    cursor: pointer; }
    /* line 113, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
    body.scroll-small-header header .return-to-top:hover {
      opacity: 1; }
/* line 119, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
body.scroll-small-header .title-secondary {
  width: 150px;
  font-size: 1.4em;
  top: 0em;
  opacity: 1; }

/* line 127, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
main {
  float: left;
  width: 62.5%;
  margin-left: 8.33333%;
  margin-right: 4.16667%; }
  /* line 133, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  main article {
    padding: 1em; }
    /* line 136, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
    main article h3 {
      color: rgba(0, 93, 170, 0.9);
      font-size: 2em;
      margin: 0px 0px 0px 2em; }

/* line 144, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
h2 {
  font-size: 2.4em;
  color: rgba(0, 0, 0, 0.9);
  margin: 2em 0px 0px 1em; }

/* line 150, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
#sidebar {
  float: right;
  width: 20.83333%;
  margin-right: 4.16667%; }
  /* line 155, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  #sidebar article {
    padding: 1em; }
    /* line 158, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
    #sidebar article h3 {
      color: rgba(238, 53, 36, 0.9);
      font-size: 1.6em; }
    /* line 163, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
    #sidebar article p {
      font-size: 1em; }

/* line 169, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
p {
  font-family: "Magra", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.9); }

/* line 176, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
nav {
  font-family: "Magra", sans-serif;
  font-size: 1em;
  color: #FFFFFF;
  fill: #FFFFFF; }
  /* line 182, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px; }
    /* line 190, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
    nav ul li {
      margin-right: .8em;
      padding: .2em .4em;
      border-radius: .2em;
      display: inline-flex;
      align-items: center;
      position: relative;
      background: rgba(255, 255, 255, 0);
      cursor: pointer;
      transition-duration: 200ms;
      opacity: 0.65; }
      /* line 203, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
      nav ul li .nav-icon {
        font-size: 1.4em;
        margin-right: .4em; }
        /* line 207, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
        nav ul li .nav-icon.fa {
          text-align: center; }
      /* line 212, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
      nav ul li svg.nav-icon {
        width: 1.42857em;
        height: 1.4em; }
      /* line 217, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
      nav ul li:hover {
        opacity: 1;
        background: rgba(255, 255, 255, 0.1); }

/* line 225, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
.return-to-top {
  color: #FFFFFF;
  padding: .6em .8em;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  transition-duration: 200ms;
  transition-delay: 200ms; }

/* line 235, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
.blur {
  filter: blur(4px);
  -webkit-filter: blur(4px); }

/* line 240, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
.member-info-widget {
  width: 720px;
  height: 540px;
  position: relative;
  overflow: hidden; }
  /* line 246, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  .member-info-widget img {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    clip-path: circle(100% at center);
    transition-delay: 200ms;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(.5, 0, .5, 1); }
  /* line 258, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  .member-info-widget .sharp:after {
    content: attr(data-name);
    font-family: "Magra", sans-serif; }

/*# sourceMappingURL=style.css.map */