$primary: #005DAA;
$primary-fade: rgba($primary, .9);
$secondary: #EE3524;
$secondary-fade: rgba($secondary, .9);
$white: #FFFFFF;
$white-light: rgba($white, .1);
$white-transparent: rgba($white, 0);
$black-dark: rgba(0, 0, 0, .9);
$black-fade: rgba(0, 0, 0, .65);
$header-font-stack: "Martel Sans", sans-serif;
$body-font-stack: "Magra", sans-serif;
$transition-fast: 200ms;
$fade: .65;

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0px;
}

h1 {
	font-family: $header-font-stack;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: $body-font-stack;
}

header {
	background: $primary;
	position: relative;
	padding: 1.4em 0px .4em;
	margin-bottom: 2.4em;

	h1 {
		color: $white;
		text-align: center;
		font-size: 4em;
		margin: 0px;
	}

	#header-badge {
		width: 100px;
		height: 100px;
		border-radius: 50px 50px 50px 0px;
		position: absolute;
		left: 0px;
		bottom: 0px;
		transform: translate(0px, 50%);
		background: $primary;
	}
}

body.scroll-small-header {
	margin-top: 12em;

	header {
		position: fixed;
		top: 0px;
		width: 100%;
		padding: .4em 0px 0px;
		display: flex;
		flex-direction: row;
		align-items: center;

		h1 {
			display: inline-flex;
			align-items: center;
			font-size: 2em;
			width: 6.4em;
			height: 100%;
			margin-left: 110px;
		}

		nav {
			margin-left: 0px;
			flex-grow: 1;
			width: 0px;
		}
	}
}

main {
	float: left;
	width: 7 / 12 * 100%;
	margin-left: 1 / 12 * 100%;
	margin-right: 1 / 12 * 100%;

	article {
		padding: 1em;

		h3 {
			color: $primary-fade;
			font-size: 2em;
			margin: 0px 0px 0px 2em;
		}
	}
}

h2 {
	font-size: 2.4em;
	color: $black-dark;
	margin: 0px 0px 0px 1em;
}

#sidebar {
	float: right;
	width: 5 / 24 * 100%;
	margin-right: 1 / 24 * 100%;

	article {
		padding: 1em;

		h3 {
			color: $secondary-fade;
			font-size: 1.6em;
		}
		
		p {
			font-size: 1em;
		}
	}
}

p {
	font-family: $body-font-stack;
	font-size: 1.2em;
	line-height: 1.4em;
	color: $black-dark;
}

nav {
	font-family: $body-font-stack;
	font-size: 1em;
	color: $white;
	fill: $white;
	margin-left: 110px;

	ul {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0px;
		padding: 0px;

		li {
			margin-right: .8em;
			padding: .2em .4em;
			border-radius: .2em;
			display: inline-flex;
			align-items: center;
			position: relative;
			background: $white-transparent;

			cursor: pointer;
			transition-duration: $transition-fast;
			opacity: $fade;

			.nav-icon {
				font-size: 1.4em;
				margin-right: .4em;

				&.fa {
					text-align: center;
				}
			}

			svg.nav-icon {
				width: 1 / 1.4 * 2em;
				height: 1.4em;
			}

			&:hover{
				opacity: 1;
				background: $white-light;
			}
		}
	}
}