/* line 19, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
* {
  box-sizing: border-box; }

/* line 24, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
html, body {
  margin: 0px; }

/* line 28, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
h1 {
  font-family: "Martel Sans", sans-serif; }

/* line 36, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
h2, h3, h4, h5, h6 {
  font-family: "Magra", sans-serif; }

/* line 40, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
body {
  margin-top: 12em;
  -webkit-transition: margin-top 400ms;
  transition: margin-top 400ms; }

/* line 46, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/* line 53, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
header {
  background: #005DAA;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 1.4em 0px .4em;
  margin-bottom: 2.4em;
  z-index: 10; }
  /* line 64, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  header h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 4em;
    margin: 0px;
    height: 1.8em; }
  /* line 72, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  header #header-badge {
    width: 100px;
    height: 100px;
    border-radius: 50px 50px 50px 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    -webkit-transform: translate(0px, 50%);
    -ms-transform: translate(0px, 50%);
    transform: translate(0px, 50%);
    background: #005DAA; }
  /* line 85, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  header .flex {
    margin-left: 110px; }
    /* line 88, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
    header .flex .title-secondary {
      width: 0px;
      color: #FFFFFF;
      font-family: "Martel Sans", sans-serif;
      display: inline-block;
      overflow: hidden;
      font-size: 0;
      position: relative;
      top: -2em;
      opacity: 0;
      height: 1.4em;
      -webkit-transition: width 400ms 400ms, opacity 0ms 400ms, top 800ms, 400ms;
      transition: width 400ms 400ms, opacity 0ms 400ms, top 800ms, 400ms; }
  /* line 110, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  header nav {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 0px; }

/* line 120, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
body.scroll-small-header header {
  position: fixed;
  top: -8em; }
  /* line 124, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  body.scroll-small-header header .return-to-top {
    opacity: 0.65;
    cursor: pointer; }
    /* line 128, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
    body.scroll-small-header header .return-to-top:hover {
      opacity: 1; }
/* line 134, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
body.scroll-small-header .title-secondary {
  width: 150px;
  font-size: 1.4em;
  top: 0em;
  opacity: 1; }

/* line 142, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
main {
  float: left;
  width: 62.5%;
  margin-left: 8.33333%;
  margin-right: 4.16667%; }
  /* line 148, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  main article {
    padding: 1em; }
    /* line 151, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
    main article h3 {
      color: rgba(0, 93, 170, 0.9);
      font-size: 2em;
      margin: 0px 0px 0px 2em; }

/* line 159, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
h2 {
  font-size: 2.4em;
  color: rgba(0, 0, 0, 0.9);
  margin: 0px 0px 1em 1em; }

/* line 165, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
#sidebar {
  float: right;
  width: 20.83333%;
  margin-right: 4.16667%; }
  /* line 170, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  #sidebar article {
    padding: 1em; }
    /* line 173, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
    #sidebar article h3 {
      color: rgba(238, 53, 36, 0.9);
      font-size: 1.6em; }
    /* line 178, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
    #sidebar article p {
      font-size: 1em; }

/* line 184, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
p {
  font-family: "Magra", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.9); }

/* line 191, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
nav {
  font-family: "Magra", sans-serif;
  font-size: 1em;
  color: #FFFFFF;
  fill: #FFFFFF; }
  /* line 197, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  nav.page-subnav {
    color: rgba(0, 0, 0, 0.9);
    fill: rgba(0, 0, 0, 0.65);
    padding-left: 80px; }
    /* line 202, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
    nav.page-subnav ul li {
      background: transparent; }
      /* line 205, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
      nav.page-subnav ul li:hover {
        background: rgba(0, 0, 0, 0.1); }
  /* line 211, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  nav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px; }
    /* line 228, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
    nav ul li {
      margin-right: .8em;
      padding: .2em .4em;
      border-radius: .2em;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      background: rgba(255, 255, 255, 0);
      cursor: pointer;
      -webkit-transition-duration: 200ms;
      transition-duration: 200ms;
      opacity: 0.65; }
      /* line 248, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
      nav ul li .nav-icon {
        font-size: 1.4em;
        margin-right: .4em; }
        /* line 252, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
        nav ul li .nav-icon.fa {
          text-align: center; }
      /* line 257, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
      nav ul li svg.nav-icon {
        width: 1.42857em;
        height: 1.4em; }
      /* line 262, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
      nav ul li:hover {
        opacity: 1;
        background: rgba(255, 255, 255, 0.1); }

/* line 270, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
.return-to-top {
  color: #FFFFFF;
  padding: .6em .8em;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms; }

/* line 282, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
.blur {
  filter: blur(4px);
  -webkit-filter: blur(4px); }

/* line 287, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
.member-info-widget {
  width: 720px;
  height: 540px;
  position: relative;
  overflow: hidden; }
  /* line 293, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  .member-info-widget img {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    -webkit-clip-path: circle(100% at center);
    clip-path: circle(100% at center);
    -webkit-transition-delay: 200ms;
    transition-delay: 200ms;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transition-timing-function: cubic-bezier(.5, 0, .5, 1);
    transition-timing-function: cubic-bezier(.5, 0, .5, 1); }
  /* line 309, C:/Users/Matthew/Dropbox/Programming/github/tj-tsa-web-15/css/style.scss */
  .member-info-widget .sharp:after {
    content: attr(data-name);
    font-family: "Magra", sans-serif; }

/*# sourceMappingURL=style.css.map */