$primary: #005DAA;
$primary-fade: rgba($primary, .9);
$white: #FFFFFF;
$black-dark: rgba(0, 0, 0, .9);
$black-fade: rgba(0, 0, 0, .65);
$header-font-stack: "Martel Sans", sans-serif;
$body-font-stack: "Magra", sans-serif;
$transition-fast: 200ms;
$fade: .65;

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0px;
}

h1 {
	font-family: $header-font-stack;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: $body-font-stack;
}

header {
	background: $primary;
	position: relative;
	padding: 1.4em 0px;
	margin-bottom: 2.4em;

	h1 {
		color: $white;
		text-align: center;
		font-size: 4em;
		margin: 0px;
	}

	#header-badge {
		width: 100px;
		height: 100px;
		border-radius: 50px 50px 50px 0px;
		position: absolute;
		left: 0px;
		bottom: 0px;
		transform: translate(0px, 50%);
		background: $primary;
	}
}

main {
	float: left;
	width: 7 / 12 * 100%;
	margin-left: 1 / 12 * 100%;
}

#sidebar {
	float: right;
	width: 3 / 12 * 100%;
	margin-right: 1 / 12 * 100%;
}

article {
	padding: 1em;

	h2 {
		color: $primary-fade;
		font-size: 2em;
		margin: 0px 0px 0px 2em;
	}

	p {
		font-family: $body-font-stack;
		font-size: 1.2em;
		line-height: 1.4em;
		color: $black-dark;
	}
}

nav {
	font-family: $body-font-stack;
	font-size: 1em;
	color: $white;
	fill: $white;
	position: absolute;
	bottom: .4em;
	left: 110px;

	ul {
		list-style-type: none;
		display: inline;
		margin: 0px;
		padding: 0px;

		li {
			margin-right: 1em;
			padding-left: 2.4em;
			display: inline;
			align-items: center;
			position: relative;

			cursor: pointer;
			transition-duration: $transition-fast;
			opacity: $fade;

			.nav-icon {
				position: absolute;
				left: 0px;
				font-size: 1.4em;

				&.fa {
					width: 1 / 1.4 * 2em;
					text-align: center;
				}
			}

			svg.nav-icon {
				max-height: 1.4em;
				max-width: 1 / 1.4 * 2em;
			}

			&:hover{
				opacity: 1;
			}
		}
	}
}